body {
  margin: 0;
  font-family: 
    system-ui,
    "Segoe UI",
    "Ubuntu",
    "Roboto", "Noto Sans", "Droid Sans",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
