// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
.nav_item {
    color: $text-color;
    font-size: larger;
}

.post-description {
    color: $text-color;
}
  
#search-container {
    display: inline-block;
    padding-bottom: 5%;
}
  
.mock-search {
    display: inline-block;
    margin-left: 5%;
}
  
#search-input {
    width: 45rem;
}
  
#results-container li {
    width: 90%;
}

@media only screen and (max-width: 760px) {
    #search-input {
        width: 40rem;
    }
}

@media only screen and (max-width: 760px) {
    #search-input {
        width: 35rem;
    }
}

@media only screen and (max-width: 590px) {
    #search-input {
        width: auto;
    }
}