/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@charset "utf-8";

html {
    font-family          : 'arial', sans-serif;
    font-weight          : normal;
    font-style           : normal;
	font-display         : swap;
	unicode-range        : U+000-5FF;
	font-size            : 2vh;
	overflow-x           : hidden;
	-ms-scroll-snap-type : y mandatory;
	    scroll-snap-type : y mandatory;
}

:root {
    --imagefilter : rgba(41, 38, 56, 0.95);
}

.header {
	scroll-snap-align : start;
	min-height        : 5vh;
	max-height        : 5vh;
}

body {
	margin            : 0px;
}

h1 {
	font-size   : 5.5em;
	text-align  : center;
	padding-top : 1em;
	margin      : 0px;
	color       : white;
}

h2 {
	font-size   : 3.5em;
	text-align  : center;
	padding-top : 0.25em;
	color       : white;
}

h3,
h3 a  {
	font-size   : 2.5em;
	text-align  : center;
	color       : white;
}

ul {
	list-style-type  : none;
	margin           : 0px;
	padding          : 0px;
	overflow         : hidden;
	background-color : #333;
	height           : 5%;
}

li {
	float : left;
}

li a {
	display         : block;
	color           : white;
	text-align      : center;
	padding         : 1.33vh 1.33vh;
	text-decoration : none;
	font-size       : 1rem;
}

.contentstart,
.content {
	display                : -webkit-box;
	display                : -ms-flexbox;
	display                : flex;
    -webkit-box-orient     : vertical;
    -webkit-box-direction  : normal;
        -ms-flex-direction : column;
            flex-direction : column;
	height                 : auto;
	background             : var(--imagefilter);
}

.contentstart {
	height : 95%;
	width  : 100%;
}

.content {
	scroll-snap-align          : start;
	scroll-snap-type           : y mandatory;
	-webkit-overflow-scrolling : touch;
	min-width                  : 100%;
	min-height                 : 100vh;
}

.content,
.contentstart {
	background-repeat : no-repeat;
	background-size   : cover;
}

.content:last-of-type {
	min-height : 89vh;
	max-height : 89vh;
}

.imagefilter {
	background : var(--imagefilter);
	width      : 100%;
	min-height : 100vh;
}

.placeholdericon {
	width : 5em;
}

.button {
	border          : none;
	color           : white;
	padding         : 15px 32px;
	text-align      : center;
	text-decoration : none;
	display         : inline-block;
	font-size       : 16px;
	margin          : 4px 2px;
	cursor          : pointer;
}
  
.button a { 
	color : white;    
}

.button a:hover { 
	font-weight : bold;
	color       : white;   	
}

a img {
	-webkit-transition : all .2s ease-in-out;
	-o-transition      : all .2s ease-in-out;
	transition         : all .2s ease-in-out;
}

a img:hover {
	-webkit-transform : scale(1.2);
	    -ms-transform : scale(1.2);
	        transform : scale(1.2);
}

p a {
	color : white;
}

.button1 {
	background-color : #EC6762; /* Red */
}

.button2 {
	background-color : #4CAF50; /* Green */
} 

.button3 {
	background-color : #008CBA; /* Blue */
} 

.resetbutton {
	margin-top : 1%;
}

input[type=submit] {
	border          : none;
	color           : white;
	padding         : 15px 32px;
	text-align      : center;
	text-decoration : none;
	display         : inline-block;
	font-size       : 16px;
	margin          : 4px 2px;
	cursor          : pointer;
}

.categorycolumn {
	float       : left;
	width       : 100%;
	padding     : 0 10px;
	margin-left : 25%;
  }

.category {
	-webkit-box-shadow       : 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	        box-shadow       : 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
	padding                  : 16px;
	text-align               : center;
	background-color         : darkgray;
	width                    : 50%;
	height                   : 50%;
	margin                   : 1%;
	border-radius            : 25px;
}

.category a {
	color : white;
}

footer {
	color            : white;
	background-color : var(--imagefilter);
	min-height       : 10vh;
	max-height       : 10vh;
	padding-top      : 1vh;
}

.articlebody {
	width : 50%;
	text-align : justify;
	color : white;
}

.submitemail a {
	font-size : 1em;
}